@use '../util/' as u;

.nav {
  padding: 0 3rem 0 3rem;
  background-color: var(--white);

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
    align-items: center;
    list-style: none;

    @include u.respond(tab-portrait) {
      flex-direction: column;
    }
  }

  &__item {
    &:not(:last-child) {
      padding-right: 4rem;
    }
  }

  &__link,
  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: var(--grey);
    font-size: 2.2rem;
    transition: all 0.2s;
    border-right: 5px solid transparent;

    &:hover {
      color: var(--text-format);
      font-weight: 500;
      margin-right: 5px;
      border-right: 5px solid var(--text-format);
      padding-right: 5px;
    }
  }
}

img {
  width: 15rem;
}
