.nav {
  padding: 0 3rem 0 3rem;
  background-color: var(--white);

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
    align-items: center;

    list-style: none;
  }

  &__item {
    &:not(:last-child) {
      padding-right: 4rem;
    }
  }

  &__link,
  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: var(--grey);
    font-size: 2rem;
  }
}

img {
  width: 15rem;
}
