.btn {
  cursor: pointer;
  border: none;
  background-color: var(--text-format);
  color: var(--white);
  border-radius: 2.5rem;
  font-size: 1.8rem;
  width: 10.5rem;
  height: 4.4rem;
  text-transform: uppercase;
  transition: all 0.2s;

  &:hover {
    background-color: var(--secondary-color);
  }
}
