.btn {
  cursor: pointer;
  border: none;
  background-color: var(--text-format);
  color: var(--white);
  border-radius: 2.5rem;
  font-size: 2rem;
  width: 10.5rem;
  height: 4.4rem;
  text-transform: uppercase;
  transition: all 0.2s;

  &:hover {
    background-color: var(--primary-color);
  }

  &--contact {
    width: 11rem;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
  }
}
