@use '../util/' as u;

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
  z-index: 1;
  position: relative;

  @include u.respond(tab-landscape) {
    margin: 4.3rem 0 2rem 0;
  }

  &__label {
    display: block;
    margin: 1rem 0;
    font-weight: 500;
  }
  &__input,
  &__message {
    display: block;
    border: none;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-family: inherit;
    width: 25vw;
    outline: none;

    @include u.respond(tab-landscape) {
      width: 50vw;
    }

    @include u.respond(phone) {
      width: 50vw;
      min-width: 40rem;
    }
  }

  &__message {
    width: 25vw !important;
    height: 100%;
    resize: none;

    @include u.respond(tab-landscape) {
      width: 50vw !important;
    }

    @include u.respond(phone) {
      width: 50vw;
      min-width: 40rem;
    }
  }
}
