// Header

.header {
  &__text-box {
    padding: 6rem 3rem 0;
    line-height: 1;
  }

  &__primary {
    display: block;
    padding-bottom: 3rem;

    &--break {
      display: block;
    }
  }
  &__secondary {
    color: var(--grey);
  }

  &__wave {
    &__img {
      width: 100%;
      height: 55vh;
    }
  }
}

// Main - sections
.services-container {
  padding-top: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
}

.services-box {
  border: 3px solid var(--text-format);
  width: 30vw;
  height: 27vh;
  // padding: 2rem 8rem;
  border-radius: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__icons {
  }

  &__text {
    text-transform: uppercase;

    &--format {
      color: var(--white);
    }
  }

  &--format {
    border: 1px solid rgba(247, 247, 247, 0.863);
    background-image: linear-gradient(
      to bottom,
      var(--primary-color),
      var(--secondary-color)
    );
  }
}

.services-content {
  width: 40vw;

  &__heading {
  }
  &__para {
    color: var(--grey);
    font-size: 2rem;
    font-weight: 500;
  }
}
