// Header

.header {
  &__text-box {
    padding: 6rem 3rem 0;
    line-height: 1;
  }

  &__primary {
    display: block;
    padding-bottom: 3rem;

    &--break {
      display: block;
    }
  }
  &__secondary {
    color: var(--grey);
  }

  &__wave {
    &__img {
      width: 100%;
      height: 55vh;
    }
  }
}

// Main - sections
.services-container {
  padding-top: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
}

.services-box {
  border: 3px solid var(--text-format);
  width: 30vw;
  height: 27vh;
  // padding: 2rem 8rem;
  border-radius: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__icons {
    height: 12rem;
  }

  &__text {
    text-transform: uppercase;
    font-size: 3.5rem;

    &--format {
      color: var(--white);
    }
  }

  &--format {
    border: 1px solid var(--background);
    background-image: linear-gradient(
      to bottom,
      var(--primary-color),
      var(--secondary-color)
    );
  }
}

.services-content {
  width: 40vw;

  &__heading {
    font-size: 3.5rem;
    padding-bottom: 0.7rem;
  }
  &__para {
    color: var(--grey);
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 1.3rem;
  }

  &__icons {
    height: 1.8rem;
    width: 2rem;
    margin-right: 0.5rem;
  }

  &__learn-more {
    border-bottom: 2.8px solid var(--background);
    font-size: 1.8rem;
    transition: border-bottom 0.3s;
    font-weight: 600;
    padding: 3px;

    &:hover {
      border-bottom: 2.8px solid var(--text-format);
    }
  }
}
