// Header

.header {
  &__text-box {
    padding: 6rem 3rem 0;
    line-height: 1;
  }

  &__primary {
    display: block;
    padding-bottom: 3rem;

    &--break {
      display: block;
    }
  }
  &__wave {
    &__img {
      width: 100%;
      height: 55vh;
    }
  }
}

// Main - sections
.services-container {
  padding-top: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
}

.services-box {
  border: 3px solid var(--text-format);
  width: 30vw;
  height: 27vh;
  // padding: 2rem 8rem;
  border-radius: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__icons {
    height: 12rem;
  }

  &__text {
    text-transform: uppercase;
    font-size: 3.5rem;

    &--format {
      color: var(--white);
    }
  }

  &--format {
    border: 1px solid var(--background);
    background-image: linear-gradient(
      to bottom,
      var(--primary-color),
      var(--secondary-color)
    );
  }
}

.services-content {
  width: 40vw;

  &__heading {
    font-size: 3.5rem;
    padding-bottom: 0.7rem;
  }
  &__para {
    color: var(--grey);
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 1.3rem;
  }

  &__icons {
    height: 1.8rem;
    width: 2rem;
    margin-right: 0.5rem;
  }

  &__learn-more {
    border-bottom: 2.8px solid var(--background);
    font-size: 1.8rem;
    transition: border-bottom 0.3s;
    font-weight: 600;
    padding: 3px;

    &:hover {
      border-bottom: 2.8px solid var(--text-format);
    }
  }
}

// Feature
.feature {
  padding-top: 6rem;

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-image: linear-gradient(
      to bottom,
      var(--primary-color),
      var(--secondary-color)
    );
    width: 100%;
    height: 45rem;
  }
  &__img {
    width: 30%;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);
  }
  &__text {
    font-size: 2rem;
    color: var(--white);
    font-weight: 500;
    width: 40vw;
  }
}

.dashboard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  background-color: rgb(51, 51, 51);
  border-radius: 3px;
  width: 70%;
  height: 18rem;
  margin: 8rem auto 0;
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.25);
  color: var(--white);

  &__progress-number {
    font-weight: 300;
    margin-bottom: 1rem;
  }

  &__progress-text {
    font-size: 1.8rem;
  }

  &__divider {
    width: 2px;
    background-color: var(--white);
    height: 50%;
  }
}

.contact {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;

  &__contact-text {
    z-index: 1;
  }

  &__background {
    width: 100%;
    margin-top: -35rem;
    z-index: 0;
  }
}

.footer {
  background-color: var(--grey-2);
  height: 38rem;
  margin-top: -20vh;
}
